NODE/FLOW/mail.json
[
  {
    "id": "23e21417.d4e72c",
    "type": "inject",
    "z": "13e6ce36.7596c2",
    "name": "",
    "topic": "BRINGA",
    "payload": "testString fallaffel",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 186,
    "y": 156,
    "wires": [
      [
        "5053877b.457038"
      ]
    ]
  },
  {
    "id": "e0c10eef.52784",
    "type": "e-mail",
    "z": "13e6ce36.7596c2",
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "name": "danieladriaenssen@gmail.com",
    "dname": "BRINGA",
    "x": 880,
    "y": 173,
    "wires": []
  },
  {
    "id": "beb0d7fb.0b1f98",
    "type": "debug",
    "z": "13e6ce36.7596c2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 902,
    "y": 243,
    "wires": []
  },
  {
    "id": "5b0bcf02.0416a",
    "type": "e-mail in",
    "z": "13e6ce36.7596c2",
    "name": "",
    "protocol": "IMAP",
    "server": "imap.gmail.com",
    "useSSL": true,
    "port": "993",
    "box": "INBOX",
    "disposition": "Read",
    "repeat": "20",
    "x": 105,
    "y": 311,
    "wires": [
      [
        "6838d4e1.c1cedc"
      ]
    ]
  },
  {
    "id": "6838d4e1.c1cedc",
    "type": "debug",
    "z": "13e6ce36.7596c2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 373,
    "y": 317,
    "wires": []
  },
  {
    "id": "5053877b.457038",
    "type": "function",
    "z": "13e6ce36.7596c2",
    "name": "",
    "func": "return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 479,
    "y": 163,
    "wires": [
      [
        "e0c10eef.52784",
        "beb0d7fb.0b1f98"
      ]
    ]
  },
  {
    "id": "d7a6266.a8814d8",
    "type": "comment",
    "z": "13e6ce36.7596c2",
    "name": "Henter mail",
    "info": "fra bringahytte@gmail.com",
    "x": 132,
    "y": 255,
    "wires": []
  },
  {
    "id": "e1c3f569.742848",
    "type": "comment",
    "z": "13e6ce36.7596c2",
    "name": "Sender mail",
    "info": "",
    "x": 124,
    "y": 94,
    "wires": []
  }
]
