NODE/FLOW/sens.json
[
  {
    "id": "d2d3388f.855658",
    "type": "ui_gauge",
    "z": "eedf4c02.20dbe",
    "name": "Vindrettning",
    "group": "1edf9224.43708e",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "compass",
    "title": "Vindrettning",
    "label": "grader",
    "format": "{{value}}",
    "min": 0,
    "max": "360",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 841.5,
    "y": 321,
    "wires": []
  },
  {
    "id": "60e510cc.89f72",
    "type": "range",
    "z": "eedf4c02.20dbe",
    "minin": "0",
    "maxin": "1023",
    "minout": "0",
    "maxout": "359",
    "action": "scale",
    "round": true,
    "property": "payload",
    "name": "",
    "x": 260.5,
    "y": 311,
    "wires": [
      [
        "7de6cb4a.8f1a14",
        "a97d9cfb.9c40d"
      ]
    ]
  },
  {
    "id": "2330003e.11304",
    "type": "ui_gauge",
    "z": "eedf4c02.20dbe",
    "name": "Vindhastighet",
    "group": "1edf9224.43708e",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Vindhastighet",
    "label": "mp/s",
    "format": "{{value}}",
    "min": 0,
    "max": "45",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 829.5,
    "y": 144,
    "wires": []
  },
  {
    "id": "2c1a44c6.be2aec",
    "type": "function",
    "z": "eedf4c02.20dbe",
    "name": "tell rottasjon i sek",
    "func": "msg.payload = (msg.payload * 1.00584).toFixed(2)\nreturn(msg);",
    "outputs": 1,
    "noerr": 0,
    "x": 422.5,
    "y": 144,
    "wires": [
      [
        "3c7fa2ac.ab0d6e",
        "5d0b727b.0fa1dc"
      ]
    ]
  },
  {
    "id": "f1bb4a29.2a6c58",
    "type": "frequency",
    "z": "eedf4c02.20dbe",
    "name": "freq1",
    "interval": "5000",
    "ntfyinterval": "5000",
    "x": 240.5,
    "y": 144,
    "wires": [
      [
        "2c1a44c6.be2aec"
      ]
    ]
  },
  {
    "id": "7de6cb4a.8f1a14",
    "type": "delay",
    "z": "eedf4c02.20dbe",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 524.5,
    "y": 313,
    "wires": [
      [
        "d2d3388f.855658"
      ]
    ]
  },
  {
    "id": "3c7fa2ac.ab0d6e",
    "type": "ui_chart",
    "z": "eedf4c02.20dbe",
    "name": "",
    "group": "1edf9224.43708e",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 697.5,
    "y": 241,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "49eef432.ae192c",
    "type": "arduino in",
    "z": "eedf4c02.20dbe",
    "name": "",
    "pin": "4",
    "state": "ANALOG",
    "arduino": "6bfcbbaf.10ee64",
    "x": 91.5,
    "y": 310,
    "wires": [
      [
        "60e510cc.89f72"
      ]
    ]
  },
  {
    "id": "6520cbf2.287824",
    "type": "arduino in",
    "z": "eedf4c02.20dbe",
    "name": "",
    "pin": "2",
    "state": "INPUT",
    "arduino": "6bfcbbaf.10ee64",
    "x": 89.5,
    "y": 146,
    "wires": [
      [
        "f1bb4a29.2a6c58"
      ]
    ]
  },
  {
    "id": "ba831beb.58bd08",
    "type": "comment",
    "z": "eedf4c02.20dbe",
    "name": "Vindrettning (grader)",
    "info": "Henter vindrettning fra Davis og sender det til dashboard",
    "x": 133.5,
    "y": 266,
    "wires": []
  },
  {
    "id": "669cb5ad.5a2e1c",
    "type": "comment",
    "z": "eedf4c02.20dbe",
    "name": "Vindhastighet (mp/s)",
    "info": "Henter vidhastighet fra Davis, gjør det om til mp/s og sender det til dashboard",
    "x": 127.5,
    "y": 91,
    "wires": []
  },
  {
    "id": "98f0fd4f.2cf3a",
    "type": "comment",
    "z": "eedf4c02.20dbe",
    "name": "Produksjon (W)",
    "info": "",
    "x": 108.5,
    "y": 738,
    "wires": []
  },
  {
    "id": "5ad4b45a.2497bc",
    "type": "comment",
    "z": "eedf4c02.20dbe",
    "name": "Forbruk (W)",
    "info": "",
    "x": 98.5,
    "y": 832,
    "wires": []
  },
  {
    "id": "e1910909.10e0d8",
    "type": "comment",
    "z": "eedf4c02.20dbe",
    "name": "R-pi Info",
    "info": "/opt/vc/bin/vcgencmd measure_temp",
    "x": 102,
    "y": 430,
    "wires": []
  },
  {
    "id": "71f3d36.e08e12c",
    "type": "ui_gauge",
    "z": "eedf4c02.20dbe",
    "name": "",
    "group": "6ced01f1.8852a",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "CPU Temperature",
    "label": "C",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 787,
    "y": 581,
    "wires": []
  },
  {
    "id": "f053df2b.fe5ca",
    "type": "exec",
    "z": "eedf4c02.20dbe",
    "command": "vcgencmd measure_temp",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "oldrc": false,
    "name": "RPi Temp.",
    "x": 332,
    "y": 584,
    "wires": [
      [
        "3183ec6f.8d3654"
      ],
      [],
      []
    ]
  },
  {
    "id": "69a764fd.d6b17c",
    "type": "inject",
    "z": "eedf4c02.20dbe",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "10",
    "crontab": "",
    "once": false,
    "x": 134.5,
    "y": 485.25,
    "wires": [
      [
        "f053df2b.fe5ca",
        "8f9d0557.667388"
      ]
    ]
  },
  {
    "id": "3183ec6f.8d3654",
    "type": "function",
    "z": "eedf4c02.20dbe",
    "name": "hent substr",
    "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 523,
    "y": 581,
    "wires": [
      [
        "71f3d36.e08e12c",
        "347744fb.0b3edc",
        "742856cc.7f5578"
      ]
    ]
  },
  {
    "id": "347744fb.0b3edc",
    "type": "ui_chart",
    "z": "eedf4c02.20dbe",
    "name": "",
    "group": "6ced01f1.8852a",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": true,
    "x": 772,
    "y": 629,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "81e1781b.f64668",
    "type": "ui_gauge",
    "z": "eedf4c02.20dbe",
    "name": "",
    "group": "6ced01f1.8852a",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Processor",
    "label": "CPU",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 807,
    "y": 489,
    "wires": []
  },
  {
    "id": "8f9d0557.667388",
    "type": "cpu",
    "z": "eedf4c02.20dbe",
    "name": "",
    "msgCore": false,
    "msgOverall": true,
    "x": 480.5,
    "y": 485,
    "wires": [
      [
        "81e1781b.f64668",
        "9d45a5ac.9a5fd8"
      ]
    ]
  },
  {
    "id": "d4587ee5.b33e8",
    "type": "comment",
    "z": "eedf4c02.20dbe",
    "name": "GENERELL INFO",
    "info": "# start ved boot\nsudo systemctl enable nodered.service",
    "x": 118.5,
    "y": 46,
    "wires": []
  },
  {
    "id": "5d0b727b.0fa1dc",
    "type": "smooth",
    "z": "eedf4c02.20dbe",
    "name": "",
    "property": "payload",
    "action": "max",
    "count": "5",
    "round": "",
    "mult": "single",
    "x": 624.5,
    "y": 143,
    "wires": [
      [
        "2330003e.11304",
        "134258d4.55c2f7"
      ]
    ]
  },
  {
    "id": "cc89da82.4519b8",
    "type": "link out",
    "z": "eedf4c02.20dbe",
    "name": "vindretning",
    "links": [
      "86fafb69.71b048"
    ],
    "x": 705.5,
    "y": 398,
    "wires": []
  },
  {
    "id": "134258d4.55c2f7",
    "type": "link out",
    "z": "eedf4c02.20dbe",
    "name": "vindHastighet",
    "links": [
      "184f0fd5.faa96"
    ],
    "x": 777.5,
    "y": 191,
    "wires": []
  },
  {
    "id": "742856cc.7f5578",
    "type": "link out",
    "z": "eedf4c02.20dbe",
    "name": "cpuTemp",
    "links": [
      "51b4841e.fab92c"
    ],
    "x": 808.5,
    "y": 534,
    "wires": []
  },
  {
    "id": "9d45a5ac.9a5fd8",
    "type": "link out",
    "z": "eedf4c02.20dbe",
    "name": "cpuLoad",
    "links": [
      "7eb65aaf.cfa164"
    ],
    "x": 631.5,
    "y": 525,
    "wires": []
  },
  {
    "id": "a97d9cfb.9c40d",
    "type": "delay",
    "z": "eedf4c02.20dbe",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 507,
    "y": 374,
    "wires": [
      [
        "cc89da82.4519b8"
      ]
    ]
  },
  {
    "id": "1edf9224.43708e",
    "type": "ui_group",
    "z": "",
    "name": "METEOROLOGI",
    "tab": "67980f38.f3746",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "6bfcbbaf.10ee64",
    "type": "arduino-board",
    "z": "",
    "device": "/dev/ttyACM0"
  },
  {
    "id": "6ced01f1.8852a",
    "type": "ui_group",
    "z": "",
    "name": "RASPBERRY",
    "tab": "67980f38.f3746",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "67980f38.f3746",
    "type": "ui_tab",
    "z": "",
    "name": "BRINGA",
    "icon": "dashboard"
  }
]
